
body{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;

	overflow-x: hidden;
	max-width: 100%;
}
@media screen and (max-width: 667px) {
	body{
		overflow-x: hidden;
		max-width: 100%;
	}
}

a:link{
	color:black;
	text-decoration:none;
}

.icon{
	transition: transform 0.25s;
	filter: drop-shadow(2px 4px 8px var(--text1));
}
.icon:hover{
	transform: scale(1.2);
	filter: drop-shadow(4px 8px 16px var(--text1));
}

#header{
	background-image: linear-gradient(to top right,var(--surface4),#26c6da, #ce93d8, #ce93d8);
	position: absolute;
	top: -10px;
	left: -10px;
	width: 1430px;
	height: 300px;
	border-radius: 0px 0px 0px 400px;
	box-shadow: 0 30px 50px 0px rgba(0,0,0,0.2);
}
#github{
	position: absolute;
	top: 650px;
	left: 200px;
	transform:rotate(-20deg);
	opacity:1;
	filter: sepia(100%);
}


#twitter{
	position: absolute;
	top: 1450px;
	left: 200px;
	transform:rotate(10deg);
	opacity:1;

}
#linkedin{
	position: absolute;
	top:1000px;
	left: 800px;
	transform:rotate(-20deg);
	opacity:1;

}
#gmail{
	position: absolute;
	top:400px;
	left: 800px;
	transform:rotate(20deg);
	opacity:1;
}
