
			#header{
					z-index:1;
					position:absolute;
					top:-0.6em;
					left:-1.25em;
					user-select: none;
					pointer-events:none;
			}
			#name{
				z-index:2;
				position:absolute;
				font-size:120px;
				font-family:"Cursive";
				width:1500px;
				line-height:1em;
				top:150px;
				left:1.2em;
			}
			#discription{
				z-index:2;
				position:relative;
				top:-130px;
				left:0px;
				font-size:0.26em;
				font-family:"Perpetua",sans-sarif;
				font-style:italic;
			}
			#topContact{
				z-index:2;
				position:absolute;
				font-size:2em;
				font-family:"Arial";
				color:white;
				left:1500px;
				top:70px;
			}
			.subheadings{
				z-index:2;
				position:relative;
				font-size:90px;
				text-align:center;
				width:400px;
				color:blue;
				height:140px;
				font-family:"perpetua";
				left:540px;
			}
			.textinfo{
				z-index:2;
				position:absolute;
				font-size:30px;
				width:1100px;
				left:150px;
				font-family:"calibri";
				text-align:center;
			}

			.card{
				position:absolute;
				background:white;
				height:700px;
				width:1500px;
				left:-20px;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
				transition: 0.3s;
				border-radius: 50px;
			}

			.card:hover{
				box-shadow: 0 200px 200px 0 rgba(0,0,0,0.2);
			}
			.container1{
				padding:20px 40px;
				position:relative; 
				width:900px;
				top:-2em;
				left:0.6em;
			}
			.container2{
				padding:20px 40px;
				position:relative; 
				height:5em;
				width:5em;
				top:-6em;
				left:6.5em;
			}

			.square{z-index:2;position:relative;
				background:white; 
				animation-iteration-count:infinite;
				}
			.innersqr{
				z-index:3;position:relative;
				background:pink;left:5px; top:5px;
			}


			.circle{z-index:2;position:relative;
				background:white; 
				width:20px;height:20px;
				animation-iteration-count:infinite;
				}
			.innercircle{
				z-index:3;position:relative;
				background:pink;left:5px; top:5px;
				width:10px;
				height:10px;
			}


			.triangle{z-index:2;position:relative;
				background:white; 
				width:0;height:0;
				border-left:20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom:20px solid lightblue;
				animation-iteration-count:infinite;
				}
			.innertri{
				z-index:3;position:relative;
				background:pink;left:5px; top:5px;
				width:0;height:0;
				border-left:10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom:10px solid lightblue;
			}

			@keyframes anime1{
				0% {background-color: #00ffff; left:-4em; top:-3em; opacity:0;}
				50% {background-color: #8000ff; left:-2.3em; top:-1.5em; transform:rotate(180deg); opacity:1;}
				100% {background-color: #8000ff; left:-4em; top:1em; transform:rotate(-180deg); opacity:0;}
			}

			@keyframes anime2{
				0% {background-color: #ff8000; left:0em; top:-4em; opacity:0;}
				50% {background-color: #ff00bf; left:-1.5em; top:-2em; transform:rotate(180deg); opacity:1;}
				100% {background-color: #ff00bf; left:2em; top:0em; transform:rotate(-180deg); opacity:0;}
			}


			@keyframes anime3{
				0% {background-color: red; left:-3em; top:-5em; opacity:0;}
				50% {background-color: yellow; left:0.8em; top:-1.7em; transform:rotate(180deg); opacity:1;}
				100% {background-color: yellow; left:4em; top:-5em; transform:rotate(-180deg); opacity:0;}
			}

			@keyframes anime4{
				0% {background-color: red; left:-3em; top:0em; opacity:0;}
				50% {background-color: yellow; left:2.1em; top:-1em; transform:rotate(180deg); opacity:1;}
				100% {background-color: yellow; left:4em; top:-1em; transform:rotate(-180deg); opacity:0;}
			}

			@keyframes anime5{
				0% {background-color: red; left:1.5em; top:-5em; opacity:0;}
				50% {background-color: yellow; left:1.5em; top:-3em; transform:rotate(180deg); opacity:1;}
				100% {background-color: yellow; left:-2em; top:-1em; transform:rotate(-180deg); opacity:0;}
			}
