
			#header{
					z-index:1;
					position:absolute;
					width:100%;
					height:100%;
					top:-0.6em;
					left:-1.25em;
					user-select: none;
					pointer-events:none;
			}
			#name{
				z-index:2;
				position:absolute;
				font-size:7em;
				font-family:"Cursive";
				width:80%;
				line-height:1em;
				top:1em;
				left:1.2em;
			}
			#discription{
				z-index:2;
				position:relative;
				top:-130px;
				left:0px;
				font-size:0.26em;
				font-family:"Perpetua",sans-sarif;
				font-style:italic;
			}
			#topContact{
				z-index:2;
				position:absolute;
				font-size:2em;
				font-family:"Arial";
				color:white;
				right:2em;
				top:2em;
			}
			.subheadings{
				z-index:2;
				position:relative;
				font-size:0.6em;
				text-align:center;
				width:70%;
				color:blue;
				height:100%;
				font-family:"perpetua";
				left:3em;
			}
			.textinfo{
				z-index:2;
				position:absolute;
				font-size:30px;
				width:100%;
				font-family:"calibri";
				text-align:center;
			}

			.card{
				position:absolute;
				background:white;
				height:25%;
				width:100%;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
				transition: 0.3s;
				border-radius: 20px;
			}

			.card:hover{
				box-shadow: 0 200px 200px 0 rgba(0,0,0,0.2);
			}
			.container{
				padding:20px 40px;
			}
