body{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;

	overflow-x: hidden;
	max-width: 100%;
}
@media screen and (max-width: 667px) {
	body{
		overflow-x: hidden;
		max-width: 100%;
	}
}

a:link{
	color:black;
	text-decoration:none;
}
a:visited{
	text-decoration:none;
	color:black;
}

#upstreamlink{
	position:relative;
	left:270px;
	top:500px;
	width:700px;
	height:100px;
	background: #83fac3;
	border-radius:400px 400px 400px 400px;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

#topleft{
	position:absolute;
	top:10%;
	left:0px;
	width:15%;
	height:25em;
	background: #51edff;
	border-radius:0px 200px 200px 0px;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
}
#topRight{
	position:absolute; 
	top:5%;
	left:25em;
	width:75%;
	height:10em;
	background: blue;
	border-radius:500px 0px 0px 500px;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
}
.text{
	position:relative;
	text-align:left;
	font-size:30px;
	font-family:"Calibri";
}
